@import "./bootstrap.min.css";
body{
    padding: 10px;
}
.navbar-items {
    margin: 0 auto;
}
.skilltable {
    font-size: 0.9em;
}
.skillname {
    text-align: left;
    white-space: nowrap;
}
.text-left-xs {
    text-align: left;
}
@media (min-width: 576px) {
    .text-right-sm {
        text-align: right;
    }
}