/* This file is for your main application css. */

@import "./phoenix.css";

.searchbar {
  margin: 2rem;
  width: auto;
  display: flexbox;
  margin-top: 2em;
}
.playersearch {
  width: auto;
  display: block;
}
body {
    line-height: 1.5em;
}
/* Phoenix promo and logo */
.sidebar {
    text-align: right;
    border-bottom: 1px solid #e3e3e3;
    border-radius: 6px;
    padding: 2em;
    margin-bottom: 3rem;
    font-weight: 200;
    font-size: 1.05em;
}
.sidebar p {
    margin: 0;
    white-space: nowrap;
}
.skilltable {
    font-size: 0.9em;
    line-height: 0.45em;
    border-collapse: collapse;
    border-spacing: 0em;
    padding: 0px;
}
.skilltable tr:nth-child(even) {
    background-color: #f2f2f2;
}
.skillname {
    text-align: left;
    white-space: nowrap;
}
.skillentry {
    text-align: right;
}
.skillentry tr {
    margin: 0;
}