body{
    padding: 10px;
}
.searchbar {
  margin: 2rem;
  width: auto;
  display: flexbox;
  margin-top: 2em;
  justify-self: right;
}
.sidebar {
    text-align: right;
}
.skilltable {
    font-size: 0.9em;
}
.skillname {
    text-align: left;
    white-space: nowrap;
}