<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes"/>
    <title>MarmTracker</title> 
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/bootstrap.min.css") %>"/>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="icon" type="image/x-icon" href="<%= Routes.static_path(@conn, "/favicon.ico") %>"/>
  </head>
  <body class="px-0 body-dark">
    <nav class="navbar navbar-expand navbar-light bg-light">
      <a class="navbar-brand navbar-items" href="/">
        <img src="<%= Routes.static_path(@conn, "/images/banner-icon.png") %>" alt="Marm Tracker"/>
      </a>
      <form class="form-inline navbar-items my-2 my-lg-0" role="search" action="/player">
        <input class="form-control mr-sm-2" name="rsn" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>
    <br />
    <main role="main" class="container">
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
